<% @posts.each do |post| %>
  <div class="post">
      <div class="post-info">
        <p><i class="fas fa-chevron-circle-up fa-2x" style="color: #223E4A"></i></p>
        <strong>11.5k</strong>
        <p><i class="fas fa-chevron-circle-down fa-2x" style="color: #223E4A"></i></p>
      </div>
      <div class="post-right">
        <div><h3><%= post.title %></h3></div>
        <%= link_to 'View Post', post_path(post) %>
        <!-- <div class="post-user">Username: 01/09/18 yayayay</div>
        <div class="post-content"> <p>content</p> -->
        </div>
        <div class="post-stats">319 Comments</div>
        
      </div>
<% end %>