<div class="content-wrap">
		<main>
			<div class="container">
				<div class="create-container">
					<form class="create" action="">
					<h2>Create a Post</h2>
      				<hr>
      				<input type="text" placeholder="Title" name="title" required>
      				<textarea class="input" rows="10" cols="10" placeholder="Post your secrets..."></textarea>
      				<button type="submit" class="postbtn">Post</button>
      				<button type="submit" class="registerbtn">Cancel</button>
					</form>
				</div>
			</div>
		</main>
</div>


<%= render 'form', post: @post %>

<%= link_to 'Back', posts_path %>
<%= link_to 'Help', posts_path %>
